:root {
    --fondo: #3d2b6c;
    --fondo-box: #232b36;
    --fondo-box2: #674892;
    --borde-box: #7777df;
    --texto-general: rgb(214, 214, 214);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(
        black 2%,
        var(--fondo) 40% 60%,
        black),
        var(--fondo);
    color: var(--texto-general) ;
    padding: 15px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;

}
@media (max-width: 1024px) {
    
}

@media (max-width: 480px) {
    main {
        padding: 7px;
    padding-left: 8%;
    padding-right: 8%;
    }    
}

.section-intro {  
    margin-top: 50px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-end: 100px;
    text-align: center;
    height: 200px;    
}

.section-proyectos {
}

.proyectos {
    margin-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 10px;
}

.proyecto {
    padding-block: 10px ;
    padding-inline: 10px;
    background: linear-gradient(145deg, var(--fondo-box2), var(--fondo-box));
    border: solid 3px #7777df;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;  
}

.proyecto-tecnologias{
    padding-block-start: 8px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 7px
}
.proyecto-tecnologias li{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--fondo-box);
    color: var(--texto-general);
}

.proyecto-imagenes {
  padding-block-start: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  gap: 10px;
  width: 100%;
}

.proyecto-imagenes img {
  width: 150px;
  aspect-ratio: 4 / 3;   
  object-fit: cover;
  border: solid 2px var(--fondo-box);
  border-radius: 15px;
}


.tecnologias {
    margin-block: 25px;
    padding-block: 15px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    overflow: auto;
    border: solid 3px var(--borde-box);
    border-radius: 10px;
}

.tecnologias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 15px;
    text-align: center;
}

.section-tecnologias img {
    padding-block-end: 15px;
    width: 60px;
    height: 60px;
    object-fit: contain;
}


.acerca-de-mi {
    margin-block: 25px;
    padding-inline: 20px;
    padding-block: 15px;
    background: linear-gradient(145deg, var(--fondo-box), var(--fondo-box2));
    border: solid 3px var(--borde-box);
    border-radius: 10px;
    width: 100% ;
    overflow: auto;
}
.acerca-de-mi img {
    float: right;
    margin-inline-start: 10px;
    margin-block: 7px;
    width: 25vw;
    max-width: 250px;
    height: fit-content;
    border: solid 2px var(--texto-general);
    border-radius: 15px;    
}

.acerca-de-mi p {
    font-size: larger;
    padding-block: 10px ;
}

.section-contacto {
    height: 9.5rem;    
}
