:root {
    --fondo: rgb(73, 73, 119);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(
        black 2%,
        var(--fondo) 40% 60%,
        black),
        var(--fondo);
    color: rgb(224, 223, 223);
    padding: 15px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;

}
@media (max-width: 1024px) {
    
}

@media (max-width: 480px) {
    main {
        padding: 7px;
    padding-left: 8%;
    padding-right: 8%;
    }    
}

.section-intro {    
    display: flex;
    justify-content: space-between;
    padding-block-end: 100px;    
}

.sector-izq {
    margin-top: 50px;
    overflow: hidden;    
}

.section-proyectos {
    height: 9.5rem;    
}
.section-tecnologias {
}

.section-tecnologias img {
    width: 40px;
}
.acerca-de-mi {
    margin-block: 25px;
    padding-inline: 20px;
    padding-block: 15px;
    background-color: rgb(43, 43, 43);
    border: solid 3px rgb(111, 111, 177);
    border-radius: 10px;
    width: 100% ;
    overflow: auto;
}
.acerca-de-mi img {
    float: right;
    margin-inline-start: 10px;
    margin-block: 7px;
    width: 25vw;
    max-width: 250px;
    height: fit-content;
    border: solid 2px rgb(224, 223, 223);
    border-radius: 15px;    
}

.acerca-de-mi p {
    font-size: larger;
    padding-block: 10px ;
}

.section-contacto {
    height: 9.5rem;    
}
